.contact{
    height:700px;
    background-image: url(../../../images/makeAppoinment.png);
    position: relative;
    z-index: 1;
}
.contact::before{
    position: absolute;
    content: "";
    top:0;
    width: 100%;
    height: 100%;
    background: rgb(12, 11, 27);
    opacity: .8;
    z-index: -1;
}
.contact-btn button{
    padding:10px 80px;
    letter-spacing:0.5em
}